<!DOCTYPE html>
	<html>
	<head>
			<title>Navigation Example</title>
	</head>
	<body>
			<h1>Welcome to My Website page {{.}}</h1>
			<ul>
					<li><a href="http://localhost:8080/home">Home</a></li>
					<li><a href="http://localhost:8080/about">About</a></li>
					<li><a href="http://localhost:8080/contact">Contact</a></li>
			</ul>
			<form action="http://localhost:8080/hello" method="GET">
					<input type="submit" value="Say Hello">
			</form>
	</body>
	</html>`